:root {
    --black-bkg : #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F18B99;
    --sales-bkg : #4e4544 ;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0px;
    padding: 0px;
    clip: rect(0px 0px 0px 0px);
    clip-path: inset(50%);
    margin: -1px;
  }

.header {
    background-color: var(--black-bkg);
    
}
.conteiner {
    width: 1140px;
    margin: 0 auto ;
    margin-top: 65px;
}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content:space-between;
}
.header__nav {
    display: none;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    display: flex;
    justify-content: flex-end;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
}
.header__logo {
    margin: 0 41px 0 0;
}

.header__icon {
    padding-right: 25px;
    fill: #F1E4E6;
    cursor: pointer;
}

.header__icon-search {
    padding-right: 25px;
    fill: #F1E4E6;
    cursor: pointer;
}

.header__icon:hover {
    fill: #F18B99;
}

.header__icon:focus {
    background: #F18B99;
}

.header__icon:active {
    opacity: 0.7;
}

.header__icon-search:hover {
    fill: #F18B99;
}

.header__icon-search:focus {
    background: #F18B99;
}

.header__icon-search:active {
    opacity: 0.7;
}

.header__link {
    margin: 0 0 0 33px;
}
.brand {
    display: flex;
}
.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__img {
    height: 764px;
    width: 800px; 
}

.brand__title {
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
}

.brand__title--lower {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    display: block;
}

.brand__title-pink {
color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
height: 260px;
width: 360px;
background-color: var(--sales-bkg);
}

.sales__item--women {
    background-image: url(../img/women.jpg);
}

.sales__item-axxesories {
    width: 100%;
    background-image: url(../img/accs.jpg);
    margin-top: 20px;
}

.sales__item-man {
    background-image: url(../img/saleman.jpg);
}
.sales__item-kids {
    background-image: url(../img/kids.jpg);
}

.sales__item-text {
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
margin-top:100px;
color: white;

}

.sales__item-title {
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: var(--pink-color);
}

.products__title {
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
padding-left: 711px;
margin-top: 96px;
}

.products__sub-title {
padding-top: 6px;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
margin-left: 670px;
color: #9F9F9F;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-left: 270px;
    margin-top: 48px;
}

.products__item-img {
height: 420px;
width: 360px;
left: 230px;
top: 1576px;
border-radius: 0px;
display: inline-block;
}

.products__item-title {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.products__item-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D5D5D;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.products__item-img-wrp::before{
content: '';
background-color: #222222;
width: 360px;
height: 420px;
opacity: 0.7;
position:absolute;
display: none;
}

.products__item-img-wrp {
    position: relative;
}

.product__icon-add-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    background: transparent;
    border:1px solid #F1E4E6;
    color: #F8F8F8;
    padding-bottom: 5px;
}

.products__item:hover .products__item-img-wrp::before,
.products__item:hover .product__icon-add-btn {
    display: block;
}

.products__item-price {
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
height: 19px;
width: 52px;
left: 248px;
top: 2119px;
border-radius: nullpx;
margin-top: 18px;
color: var(--pink-color);
}

.products__item {
height: 581px;
width: 360px;
left: 230px;
top: 1577px;
border-radius: 0px;
background-color: #F8F8F8;
margin-top: 30px;
}

.pin_class {
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
text-align: left;
height: 38px;
width: 300px;
left: 734px;
top: 2832px;
margin-top: 20px;
margin-left: 420px;
color: var(--pink-color);
border-color: #F18B99;
}

.pin {
width: 300px;
padding-bottom: 14px;
padding-top: 14px;
padding-left: 38px;
padding-right: 38px;

}

.pin_class:hover {
    fill: white;
}
.pin:hover {
    background: #F18B99;
    color: #F1E4E6;
}

.pin:focus {
    background: #F18B99;
}

.pins {
background-color: var(--black-bkg);
}

.pin:active {
    opacity: 0.7;
}

.advantages__title {
    display: flex;
    max-width: 1140px;
    margin-left: 270px;
    margin-top: 48px;
}

.develery {
    padding-top: 110px;
    padding-bottom: 110px;
}

.develeru__icon {
    padding-left: 150px;
    padding-bottom: 28px;
}

.develeru__text {
height: 24px;
 width: 130px;
left: 347px;
top: 3123px;
border-radius: nullpx;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding-left: 120px;
color: white;
}

.develeru__icon-text {
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: white;
padding-top: 12px;
}

.copy {
    background: var(--black-bkg);
}

.copyright {
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
height: 19px;
width: 332px;
left: 235px;
top: 3779px;
border-radius: nullpx;
color: white;
margin-left: 100px;
padding-top: 10px;
}

.copy__title {
    display: flex;
   margin-left: 1500px;
}


.icon__facebook {
background: white;
display: block;
display: flex;
align-content: center;
border: 1px solid black;
margin-right: 5px;
cursor: pointer;
}

.icon__instgram {
    background: white;
    display: block;
    display: flex;
    align-content: center;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}

.icon__pain {
    background: white;
    display: block;
    display: flex;
    align-content: center;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}

.icon__tweeter {
    background: white;
    display: block;
    display: flex;
    align-content: center;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}

.icon__facebook:hover {
    fill: white;
}
.icon__facebook:hover {
    background: #F18B99;
}

.icon__facebook:focus {
    background: #F18B99;
}

.icon__facebook:active {
    opacity: 0.7;
}

.icon__instgram:hover {
    fill: white;
}
.icon__instgram:hover {
    background: #F18B99;
}

.icon__instgram:focus {
    background: #F18B99;
}

.icon__instgram:active {
        opacity: 0.7;
    }
}

.icon__pain:hover {
    fill: white;
}
.icon__pain:hover {
    background: #F18B99;
}

.icon__pain:active {
    opacity: 0.7;
}

.icon__pain:focus {
    background: #F18B99;
}
.icon__tweeter:hover {
    fill: white;
}
.icon__tweeter:hover {
    background: #F18B99;
}

.icon__tweeter:focus {
    background: #F18B99;
}

.icon__tweeter:active {
    opacity: 0.7;
}

.quote {
    min-height: 448px;
    background-image: url(../img/fonfooter.jpg);
    background-color: #9F9F9F;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    

}
.quote_img {
    margin-left: 390px;
    margin-top: 100px;
    margin-bottom: 30px;
  
}
.quot__text {
height: 99px;
width: 359px;
left: 230px;
top: 223px; 
font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 24px;
font-family: Lato;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 24px;
margin-left: 270px;
text-align: center;
text-align: center;

}



.header__nav:hover {
    display: block;

}

.line {
    padding-right: 15px;
}
.pin {
  background-color: transparent;
  text-align: center;
  color: #F18B99;
  border: 1px solid rgb(241, 41, 141);
}

.pin:hover text{
    fill: white;
}


.header-menu:hover {
  display: block;
}

.header-2 {
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 20px;
}

.wrp {
  width: 100%;
  height: 100px;
  display: none;
}

.display-block {
  display: block;
}

.header__link:hover,
.header__link:focus {
  cursor: pointer;
}

.subscribe__title {
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
}

.subscribe__text {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.subscribe {
    margin-left: 400px;
}

.forms {
    position: relative;
    height: 40px;
    width: 300px;
}

.input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    position: absolute;
    transition: .4s cubic-bezier(0 0.8 0 1);
    position: absolute;

}

.input:focus {
    width: 100px;
    border-bottom: 2px solid #F9F0DA;
    z-index: 1;
}

.header__burger-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.header__icon-search:hover>.header__burger-button {
  background: #222222;
  color: #222222;
}

.header__icon-search:hover>.header__burger-input {
  width: 240px; 
  }

.header__conteiner {
    display: flex;
}

.header__burger:hover+.header__nav, 
.header__burger:active+.header__nav {
display: block;
}

.submit-stayl {
    background-image: url(/img/button.svg);
}

.submit-stayl:hover,
.submit-stayl:active {
   cursor: pointer ;
}
  .submit-stayl {
      background: url(../img/button.svg);
      color: #F1E4E6;
      width: 100px;
      height: 55px;
      border: none;
      background-repeat: no-repeat;
  }

  .input__mail {
      background: url(../img/isk.svg);
      border: none;
      width: 200px;
      height: 55px;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  .registration {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    display: flex;
    height: 150px;
  }

  .registration__text {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    height: 29px;
    width: 194px;
    left: 230px;
    top: 134px;
    color: #F18B99;
    padding-left: 230px;
    padding-top: 59px;
    padding-bottom: 60px;
  }

  .registration__form {
      width: 700;
      height: 700;
      display: block;
      align-items: flex-end;

  }
