
.advantages__title {
    display: flex;
    max-width: 1140px;
    margin-left: 270px;
    margin-top: 48px;
}

.develery {
    padding-top: 110px;
    padding-bottom: 110px;
}

.develeru__icon {
    padding-left: 150px;
    padding-bottom: 28px;
}

.develeru__text {
height: 24px;
 width: 130px;
left: 347px;
top: 3123px;
border-radius: nullpx;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding-left: 120px;
color: white;
}

.develeru__icon-text {
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: white;
padding-top: 12px;
}
