
.forms {
    position: relative;
    height: 40px;
    width: 300px;
}

.input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    position: absolute;
    transition: .4s cubic-bezier(0 0.8 0 1);
    position: absolute;

}

.input:focus {
    width: 100px;
    border-bottom: 2px solid #F9F0DA;
    z-index: 1;
}